In [20]:
# Given Name Age Country City
#  Asabeneh 250 Finland Helsinki
sequence = "Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki"  
                                                          # Writing the sequence in the way we would like to get the output
print(sequence)                                           # Printing the output

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki